name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ronicuas
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Commit files
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist/github-contribution-grid-snake.svg"
          default_author: github_actions

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          branch: output
          github_token: ${{ secrets.GITHUB_TOKEN }}
